@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


:root {
  --bg: #A7D4F2;
  --red: #E53434;
  --blue: #4773ED;
  --brown: #6B3904;
  --black: #333;
  --beige: #FFF2BC;
  --yellow: #FFEE32;
  --xlarge: 22px;
  --large: 18px;
  --medium: 16px;

}



@keyframes moveright {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}


@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

body {
  font-family: 'Press Start 2P', cursive;
  background: var(--bg);
  overflow: hidden;

}

.active{
  display: block;
  animation: 4s anim-lineUp;

}
.active-fast{
  display: block;
  animation: 2s anim-lineUp;

}

.active-normal{
  display: block;
}

.hidden {
  display: none !important;
}

.menu{
  text-align: center;
}
.menu h2{
  margin-top: 5rem;
}


.welcome{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: space-around;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


.button-choice {
    color: white;
    width: 100%;
    height: 56px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    background-color: #0d47a1;
    border-radius: 11px;
    box-shadow: 3px 3px #051D41;
    cursor: pointer;
}

.button-choice:focus{
    height: 50px;
    margin-top: 10px;
    background-color: #51FC52;
    box-shadow: 3px 3px  #026014;
    border:#026014 solid;
    cursor: none;
}
.button-choice:hover{
    background-color: #51FC52;
    box-shadow: 3px 3px  #026014;
    border:#026014 solid;
}

.shadow-button {
    width: 25%;
    height: 37px;
    border-radius: 11px;
    box-shadow: 5px 27px 13px;
}

#welcomeApp h2 {
    text-align: center;
    margin: 2rem 0 1rem 0; 
}




/* Animaciòn de Mario */

@keyframes mario {
    0% {
      top: 160px;
    }
    5% {
      top: 140px;
    }
    39% {
      top: 120px;
    }
    45% {
      top: 130px;
    }
    60% {
      top: 140px;
    }
    100% {
      top: 160px;
    }
  }




	


.mario {
    scale: 0.6;
	position: absolute;
    animation: 3s infinite mario ;
    top: 20%;
	left: 28%;
	height: 10px;
	width: 10px;
  z-index: 9;
	background: transparent;
	box-shadow: /* Line 1 */-40px -10px var(--black), -30px -10px var(--black), -20px -10px var(--black), 60px -10px var(--black), 70px -10px var(--black), /* Line 2 */ -40px 0 var(--black), -30px 0 var(--brown), -20px 0 var(--brown), -10px 0 var(--black), 10px 0 var(--black), 20px 0 var(--black), 30px 0 var(--black), 40px 0 var(--black), 50px 0 var(--black), 60px 0 var(--brown), 70px 0 var(--black), -40px 10px var(--black), -30px 10px var(--brown), -20px 10px var(--brown), -10px 10px var(--brown), 0px 10px var(--black), 10px 10px var(--red), 20px 10px var(--red), 30px 10px var(--red), 40px 10px var(--red), 50px 10px var(--black), 60px 10px var(--brown), 70px 10px var(--black), /* Line 3 */-40px 20px var(--black), -30px 20px var(--brown), -20px 20px var(--brown), -10px 20px var(--brown), 0px 20px var(--red), 10px 20px var(--red), 20px 20px var(--red), 30px 20px var(--red), 40px 20px var(--red), 50px 20px var(--red), 60px 20px var(--black),/* Line 4 */-40px 30px var(--black), -30px 30px var(--brown), -20px 30px var(--brown), -10px 30px var(--red), 0px 30px var(--red), 10px 30px var(--black), 20px 30px var(--black), 30px 30px var(--black), 40px 30px var(--black), 50px 30px var(--black), 60px 30px var(--black), 70px 30px var(--black),/* Line 5 */-40px 40px var(--black), -30px 40px var(--red), -20px 40px var(--red), -10px 40px var(--red), 0px 40px var(--black),  10px 40px var(--black), 20px 40px var(--black), 30px 40px var(--black), 40px 40px var(--black), 50px 40px var(--black), 60px 40px var(--black), 70px 40px var(--black), 80px 40px var(--black),/* Line 6*/ -40px 50px var(--black), -30px 50px var(--red), -20px 50px var(--black), -10px 50px var(--black),  0px 50px var(--beige),  10px 50px var(--beige),  20px 50px var(--beige),  30px 50px var(--beige),  40px 50px var(--beige),  50px 50px var(--beige),  60px 50px var(--black),  70px 50px var(--black),/* Line 6 */-50px 60px var(--black), -40px 60px var(--black), -30px 60px var(--black), -30px 60px var(--black), -20px 60px var(--black), -10px 60px var(--beige), 0px 60px var(--beige), 10px 60px var(--beige), 20px 60px var(--black), 30px 60px var(--beige), 40px 60px var(--black), 50px 60px var(--beige), 60px 60px var(--black),/* Line 7 */-50px 70px var(--black), -40px 70px var(--beige),-30px 70px var(--black),-20px 70px var(--black), -10px 70px var(--beige), 0px 70px var(--beige), 10px 70px var(--beige), 20px 70px var(--black), 30px 70px var(--beige), 40px 70px var(--black), 50px 70px var(--beige), 60px 70px var(--black),/* Line 8 */ -60px 80px var(--black), -50px 80px var(--beige), -40px 80px var(--beige), -30px 80px var(--black), -20px 80px var(--black), -10px 80px var(--black), 0px 80px var(--beige), 10px 80px var(--beige), 20px 80px var(--beige), 30px 80px var(--beige), 40px 80px var(--beige), 50px 80px var(--beige), 60px 80px var(--beige), 70px 80px var(--black),/* Line 9 */-60px 90px var(--black), -50px 90px var(--beige), -40px 90px var(--beige), -30px 90px var(--beige), -20px 90px var(--black), -10px 90px var(--beige), 0px 90px var(--beige), 10px 90px var(--black), 20px 90px var(--beige), 30px 90px var(--beige), 40px 90px var(--beige), 50px 90px var(--beige), 60px 90px var(--beige), 70px 90px var(--black),/* Line 10 */ -50px 100px var(--black), -40px 100px var(--beige), -30px 100px var(--beige), -20px 100px var(--beige), -10px 100px var(--beige), 0px 100px var(--black), 10px 100px var(--black), 20px 100px var(--black), 30px 100px var(--black), 40px 100px var(--beige), 50px 100px var(--beige), 60px 100px var(--black), 70px 100px var(--black), 80px 100px var(--black),/* Line 11*/-40px 110px var(--black), -30px 110px var(--black), -20px 110px var(--beige), -10px 110px var(--beige), 0px 110px var(--beige), 10px 110px var(--beige), 20px 110px var(--black), 30px 110px var(--black), 40px 110px var(--black), 50px 110px var(--black), 60px 110px var(--black), 70px 110px var(--black),/* Line 11 */ -30px 120px var(--black), -20px 120px var(--black), -10px 120px var(--black), 0px 120px var(--beige), 10px 120px var(--beige), 20px 120px var(--beige), 30px 120px var(--beige), 40px 120px var(--beige), 50px 120px var(--black),/* Line 12 */ -50px 130px var(--black), -40px 130px var(--black), -30px 130px var(--red), -20px 130px var(--red), -10px 130px var(--black), 0px 130px var(--black), 10px 130px var(--black), 20px 130px var(--black), 30px 130px var(--black), 40px 130px var(--black), 50px 130px var(--black), 60px 130px var(--black), 70px 130px var(--black), 80px 130px var(--black),/* Line 13 */ -80px 140px var(--black), -70px 140px var(--black), -60px 140px var(--black), -50px 140px var(--black), -40px 140px var(--red), -30px 140px var(--red), -20px 140px var(--red), -10px 140px var(--red), 0px 140px var(--black), 10px 140px var(--blue), 20px 140px var(--black), 30px 140px var(--red), 40px 140px var(--black), 50px 140px var(--black), 60px 140px var(--beige), 70px 140px var(--beige), 80px 140px var(--beige), 90px 140px var(--black),/* Line 14 */ -90px 150px var(--black), -80px 150px var(--beige), -70px 150px var(--beige), -60px 150px var(--beige), -50px 150px var(--beige), -40px 150px var(--black), -30px 150px var(--red), -20px 150px var(--red), -10px 150px var(--red), 0px 150px var(--red), 10px 150px var(--black), 20px 150px var(--blue), 30px 150px var(--black), 40px 150px var(--red), 50px 150px var(--black), 60px 150px var(--black), 70px 150px var(--beige), 80px 150px var(--beige), 90px 150px var(--black), -90px 160px var(--black), -80px 160px var(--beige), -70px 160px var(--beige), -60px 160px var(--beige), -50px 160px var(--beige), -40px 160px var(--beige), -30px 160px var(--black), -20px 160px var(--red), -10px 160px var(--red), 0px 160px var(--red), 10px 160px var(--black), 20px 160px var(--blue), 30px 160px var(--black), 40px 160px var(--red), 50px 160px var(--red), 50px 160px var(--black), 60px 160px var(--black), 70px 160px var(--black), 80px 160px var(--black),/* Line 15*/ -110px 170px var(--black), -100px 170px var(--black), -90px 170px var(--black), -80px 170px var(--black), -70px 170px var(--black), -60px 170px var(--black), -50px 170px var(--beige), -40px 170px var(--beige), -30px 170px var(--black), -20px 170px var(--red), -10px 170px var(--black), 0px 170px var(--black), 10px 170px var(--blue), 20px 170px var(--blue), 30px 170px var(--black), 40px 170px var(--black), 50px 170px var(--black), 60px 170px var(--blue), 70px 170px var(--black),/* Line 16*/ -120px 180px var(--black), -110px 180px var(--black), -100px 180px var(--brown), -90px 180px var(--brown), -80px 180px var(--brown), -70px 180px var(--brown), -60px 180px var(--brown), -50px 180px var(--black), -40px 180px var(--black), -30px 180px var(--black), -30px 180px var(--black), -20px 180px var(--black), -10px 180px var(--blue), 0px 180px var(--blue), 10px 180px var(--blue), 20px 180px var(--yellow), 30px 180px var(--yellow), 40px 180px var(--blue), 50px 180px var(--blue), 60px 180px var(--yellow), 70px 180px var(--black),/* Line 17 */ -120px 190px var(--black), -110px 190px var(--brown), -100px 190px var(--brown), -90px 190px var(--brown), -80px 190px var(--brown), -70px 190px var(--brown), -60px 190px var(--black), -50px 190px var(--black), -40px 190px var(--black), -30px 190px var(--black), -20px 190px var(--black), -10px 190px var(--blue), 0px 190px var(--blue), 10px 190px var(--blue), 20px 190px var(--yellow), 30px 190px var(--yellow), 40px 190px var(--blue), 50px 190px var(--blue), 60px 190px var(--yellow), 70px 190px var(--black),/* Line 18 */ -120px 200px var(--black), -110px 200px var(--brown), -100px 200px var(--brown), -90px 200px var(--brown), -80px 200px var(--brown), -70px 200px var(--black), -60px 200px var(--blue), -50px 200px var(--blue), -40px 200px var(--blue), -30px 200px var(--blue), -20px 200px var(--blue), -10px 200px var(--blue), 0px 200px var(--blue), 10px 200px var(--blue), 20px 200px var(--blue), 30px 200px var(--blue), 40px 200px var(--blue), 50px 200px var(--blue), 60px 200px var(--black),/* Line 19 */ -120px 210px var(--black), -110px 210px var(--black), -100px 210px var(--brown), -90px 210px var(--brown), -80px 210px var(--brown), -70px 210px var(--black), -60px 210px var(--blue), -50px 210px var(--blue), -40px 210px var(--blue), -30px 210px var(--blue), -20px 210px var(--blue), -10px 210px var(--blue), 0px 210px var(--blue), 10px 210px var(--blue), 20px 210px var(--blue), 30px 210px var(--blue), 40px 210px var(--blue), 50px 210px var(--blue), 60px 210px var(--black),/* Line 20 */ -110px 220px var(--black), -100px 220px var(--black), -90px 220px var(--black), -80px 220px var(--black), -70px 220px var(--blue), -60px 220px var(--blue), -50px 220px var(--blue), -40px 220px var(--blue), -30px 220px var(--blue), -20px 220px var(--blue), -10px 220px var(--blue), 0px 220px var(--black), 10px 220px var(--black), 20px 220px var(--blue), 30px 220px var(--blue), 40px 220px var(--black), 50px 220px var(--black),/* Line 21 */ -80px 230px var(--black), -70px 230px var(--blue), -60px 230px var(--blue), -50px 230px var(--blue), -40px 230px var(--black), -30px 230px var(--black), -20px 230px var(--black), -10px 230px var(--black), 0px 230px var(--blue), 10px 230px var(--blue), 20px 230px var(--black), 30px 230px var(--black), 40px 230px var(--black),/* Line 22 */ -80px 240px var(--black), -70px 240px var(--blue), -60px 240px var(--blue), -50px 240px var(--black), -40px 240px var(--brown), -30px 240px var(--brown), -20px 240px var(--black), -10px 240px var(--black), 0px 240px var(--black), 10px 240px var(--black),/* Line 22 */ -70px 250px var(--black), -60px 250px var(--black), -40px 250px var(--black), -30px 250px var(--black)
}


/*Mensaje Mario*/


.message-mario{
    display:block;
    padding:30px;
    border:5px solid gray;
    width:150px;
    text-align:center;
    border-radius:20px;
    box-shadow:8px 8px 30px black;
    position:relative;
    background-color: white;
    cursor: default

  }
  .message-mario::before{
    position:absolute;
    content:"";
    width: 0;
    height: 0;
    border-top: 40px solid gray;
    border-right: 60px solid transparent;
    bottom:-40px;
    left:40px;
  
  }
  .message-mario::after{
    position:absolute;
    content:"";
    width: 0;
    height: 0;
    border-top: 40px solid white;
    border-right: 60px solid transparent;
    bottom:-28px;
    left:45px;
    
  }





/*Spinner*/


@keyframes mariospinner {
  0% {
    top: 250px;
  }
  5% {
    top: 180px;
  }
  39% {
    top: 120px;
  }
  45% {
    top: 130px;
  }
  60% {
    top: 180px;
  }
  100% {
    top: 250px;
  }
}

.spinner-active {
  background-color: #000000;
    cursor: none;
    width: 100%;
    position: fixed;
    right: 0;
    flex-direction: column;
    text-align: center;
    padding-block-start: 30px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 998;
    top: 0;
}

.mario-spinner {
  scale: 0.8;
	position: absolute;
  animation: 3s infinite mariospinner ;
  top: 20%;
	height: 10px;
	width: 10px;
  z-index: 998;
	background: transparent;
	box-shadow: /* Line 1 */-40px -10px var(--black), -30px -10px var(--black), -20px -10px var(--black), 60px -10px var(--black), 70px -10px var(--black), /* Line 2 */ -40px 0 var(--black), -30px 0 var(--brown), -20px 0 var(--brown), -10px 0 var(--black), 10px 0 var(--black), 20px 0 var(--black), 30px 0 var(--black), 40px 0 var(--black), 50px 0 var(--black), 60px 0 var(--brown), 70px 0 var(--black), -40px 10px var(--black), -30px 10px var(--brown), -20px 10px var(--brown), -10px 10px var(--brown), 0px 10px var(--black), 10px 10px var(--red), 20px 10px var(--red), 30px 10px var(--red), 40px 10px var(--red), 50px 10px var(--black), 60px 10px var(--brown), 70px 10px var(--black), /* Line 3 */-40px 20px var(--black), -30px 20px var(--brown), -20px 20px var(--brown), -10px 20px var(--brown), 0px 20px var(--red), 10px 20px var(--red), 20px 20px var(--red), 30px 20px var(--red), 40px 20px var(--red), 50px 20px var(--red), 60px 20px var(--black),/* Line 4 */-40px 30px var(--black), -30px 30px var(--brown), -20px 30px var(--brown), -10px 30px var(--red), 0px 30px var(--red), 10px 30px var(--black), 20px 30px var(--black), 30px 30px var(--black), 40px 30px var(--black), 50px 30px var(--black), 60px 30px var(--black), 70px 30px var(--black),/* Line 5 */-40px 40px var(--black), -30px 40px var(--red), -20px 40px var(--red), -10px 40px var(--red), 0px 40px var(--black),  10px 40px var(--black), 20px 40px var(--black), 30px 40px var(--black), 40px 40px var(--black), 50px 40px var(--black), 60px 40px var(--black), 70px 40px var(--black), 80px 40px var(--black),/* Line 6*/ -40px 50px var(--black), -30px 50px var(--red), -20px 50px var(--black), -10px 50px var(--black),  0px 50px var(--beige),  10px 50px var(--beige),  20px 50px var(--beige),  30px 50px var(--beige),  40px 50px var(--beige),  50px 50px var(--beige),  60px 50px var(--black),  70px 50px var(--black),/* Line 6 */-50px 60px var(--black), -40px 60px var(--black), -30px 60px var(--black), -30px 60px var(--black), -20px 60px var(--black), -10px 60px var(--beige), 0px 60px var(--beige), 10px 60px var(--beige), 20px 60px var(--black), 30px 60px var(--beige), 40px 60px var(--black), 50px 60px var(--beige), 60px 60px var(--black),/* Line 7 */-50px 70px var(--black), -40px 70px var(--beige),-30px 70px var(--black),-20px 70px var(--black), -10px 70px var(--beige), 0px 70px var(--beige), 10px 70px var(--beige), 20px 70px var(--black), 30px 70px var(--beige), 40px 70px var(--black), 50px 70px var(--beige), 60px 70px var(--black),/* Line 8 */ -60px 80px var(--black), -50px 80px var(--beige), -40px 80px var(--beige), -30px 80px var(--black), -20px 80px var(--black), -10px 80px var(--black), 0px 80px var(--beige), 10px 80px var(--beige), 20px 80px var(--beige), 30px 80px var(--beige), 40px 80px var(--beige), 50px 80px var(--beige), 60px 80px var(--beige), 70px 80px var(--black),/* Line 9 */-60px 90px var(--black), -50px 90px var(--beige), -40px 90px var(--beige), -30px 90px var(--beige), -20px 90px var(--black), -10px 90px var(--beige), 0px 90px var(--beige), 10px 90px var(--black), 20px 90px var(--beige), 30px 90px var(--beige), 40px 90px var(--beige), 50px 90px var(--beige), 60px 90px var(--beige), 70px 90px var(--black),/* Line 10 */ -50px 100px var(--black), -40px 100px var(--beige), -30px 100px var(--beige), -20px 100px var(--beige), -10px 100px var(--beige), 0px 100px var(--black), 10px 100px var(--black), 20px 100px var(--black), 30px 100px var(--black), 40px 100px var(--beige), 50px 100px var(--beige), 60px 100px var(--black), 70px 100px var(--black), 80px 100px var(--black),/* Line 11*/-40px 110px var(--black), -30px 110px var(--black), -20px 110px var(--beige), -10px 110px var(--beige), 0px 110px var(--beige), 10px 110px var(--beige), 20px 110px var(--black), 30px 110px var(--black), 40px 110px var(--black), 50px 110px var(--black), 60px 110px var(--black), 70px 110px var(--black),/* Line 11 */ -30px 120px var(--black), -20px 120px var(--black), -10px 120px var(--black), 0px 120px var(--beige), 10px 120px var(--beige), 20px 120px var(--beige), 30px 120px var(--beige), 40px 120px var(--beige), 50px 120px var(--black),/* Line 12 */ -50px 130px var(--black), -40px 130px var(--black), -30px 130px var(--red), -20px 130px var(--red), -10px 130px var(--black), 0px 130px var(--black), 10px 130px var(--black), 20px 130px var(--black), 30px 130px var(--black), 40px 130px var(--black), 50px 130px var(--black), 60px 130px var(--black), 70px 130px var(--black), 80px 130px var(--black),/* Line 13 */ -80px 140px var(--black), -70px 140px var(--black), -60px 140px var(--black), -50px 140px var(--black), -40px 140px var(--red), -30px 140px var(--red), -20px 140px var(--red), -10px 140px var(--red), 0px 140px var(--black), 10px 140px var(--blue), 20px 140px var(--black), 30px 140px var(--red), 40px 140px var(--black), 50px 140px var(--black), 60px 140px var(--beige), 70px 140px var(--beige), 80px 140px var(--beige), 90px 140px var(--black),/* Line 14 */ -90px 150px var(--black), -80px 150px var(--beige), -70px 150px var(--beige), -60px 150px var(--beige), -50px 150px var(--beige), -40px 150px var(--black), -30px 150px var(--red), -20px 150px var(--red), -10px 150px var(--red), 0px 150px var(--red), 10px 150px var(--black), 20px 150px var(--blue), 30px 150px var(--black), 40px 150px var(--red), 50px 150px var(--black), 60px 150px var(--black), 70px 150px var(--beige), 80px 150px var(--beige), 90px 150px var(--black), -90px 160px var(--black), -80px 160px var(--beige), -70px 160px var(--beige), -60px 160px var(--beige), -50px 160px var(--beige), -40px 160px var(--beige), -30px 160px var(--black), -20px 160px var(--red), -10px 160px var(--red), 0px 160px var(--red), 10px 160px var(--black), 20px 160px var(--blue), 30px 160px var(--black), 40px 160px var(--red), 50px 160px var(--red), 50px 160px var(--black), 60px 160px var(--black), 70px 160px var(--black), 80px 160px var(--black),/* Line 15*/ -110px 170px var(--black), -100px 170px var(--black), -90px 170px var(--black), -80px 170px var(--black), -70px 170px var(--black), -60px 170px var(--black), -50px 170px var(--beige), -40px 170px var(--beige), -30px 170px var(--black), -20px 170px var(--red), -10px 170px var(--black), 0px 170px var(--black), 10px 170px var(--blue), 20px 170px var(--blue), 30px 170px var(--black), 40px 170px var(--black), 50px 170px var(--black), 60px 170px var(--blue), 70px 170px var(--black),/* Line 16*/ -120px 180px var(--black), -110px 180px var(--black), -100px 180px var(--brown), -90px 180px var(--brown), -80px 180px var(--brown), -70px 180px var(--brown), -60px 180px var(--brown), -50px 180px var(--black), -40px 180px var(--black), -30px 180px var(--black), -30px 180px var(--black), -20px 180px var(--black), -10px 180px var(--blue), 0px 180px var(--blue), 10px 180px var(--blue), 20px 180px var(--yellow), 30px 180px var(--yellow), 40px 180px var(--blue), 50px 180px var(--blue), 60px 180px var(--yellow), 70px 180px var(--black),/* Line 17 */ -120px 190px var(--black), -110px 190px var(--brown), -100px 190px var(--brown), -90px 190px var(--brown), -80px 190px var(--brown), -70px 190px var(--brown), -60px 190px var(--black), -50px 190px var(--black), -40px 190px var(--black), -30px 190px var(--black), -20px 190px var(--black), -10px 190px var(--blue), 0px 190px var(--blue), 10px 190px var(--blue), 20px 190px var(--yellow), 30px 190px var(--yellow), 40px 190px var(--blue), 50px 190px var(--blue), 60px 190px var(--yellow), 70px 190px var(--black),/* Line 18 */ -120px 200px var(--black), -110px 200px var(--brown), -100px 200px var(--brown), -90px 200px var(--brown), -80px 200px var(--brown), -70px 200px var(--black), -60px 200px var(--blue), -50px 200px var(--blue), -40px 200px var(--blue), -30px 200px var(--blue), -20px 200px var(--blue), -10px 200px var(--blue), 0px 200px var(--blue), 10px 200px var(--blue), 20px 200px var(--blue), 30px 200px var(--blue), 40px 200px var(--blue), 50px 200px var(--blue), 60px 200px var(--black),/* Line 19 */ -120px 210px var(--black), -110px 210px var(--black), -100px 210px var(--brown), -90px 210px var(--brown), -80px 210px var(--brown), -70px 210px var(--black), -60px 210px var(--blue), -50px 210px var(--blue), -40px 210px var(--blue), -30px 210px var(--blue), -20px 210px var(--blue), -10px 210px var(--blue), 0px 210px var(--blue), 10px 210px var(--blue), 20px 210px var(--blue), 30px 210px var(--blue), 40px 210px var(--blue), 50px 210px var(--blue), 60px 210px var(--black),/* Line 20 */ -110px 220px var(--black), -100px 220px var(--black), -90px 220px var(--black), -80px 220px var(--black), -70px 220px var(--blue), -60px 220px var(--blue), -50px 220px var(--blue), -40px 220px var(--blue), -30px 220px var(--blue), -20px 220px var(--blue), -10px 220px var(--blue), 0px 220px var(--black), 10px 220px var(--black), 20px 220px var(--blue), 30px 220px var(--blue), 40px 220px var(--black), 50px 220px var(--black),/* Line 21 */ -80px 230px var(--black), -70px 230px var(--blue), -60px 230px var(--blue), -50px 230px var(--blue), -40px 230px var(--black), -30px 230px var(--black), -20px 230px var(--black), -10px 230px var(--black), 0px 230px var(--blue), 10px 230px var(--blue), 20px 230px var(--black), 30px 230px var(--black), 40px 230px var(--black),/* Line 22 */ -80px 240px var(--black), -70px 240px var(--blue), -60px 240px var(--blue), -50px 240px var(--black), -40px 240px var(--brown), -30px 240px var(--brown), -20px 240px var(--black), -10px 240px var(--black), 0px 240px var(--black), 10px 240px var(--black),/* Line 22 */ -70px 250px var(--black), -60px 250px var(--black), -40px 250px var(--black), -30px 250px var(--black)
}

.prueba{
  background-image: url("./imagenes/tuberia.png");
    width: 300px;
    height: 300px;
    z-index: 999;
    top: 46%;
    position: absolute;
}



/*Contenedor juego: Tres en linea 2 players*/



.contenedor-juego{
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 0.4rem;
  text-align: center;
  padding-top: 3rem;

}

.juego-titulo{
  text-align: center;
  font-size: var(--large);
  margin: 10rem;
}

.juego-info{
  text-align: center;
  font-size: var(--large);
}

.juego-cuadricula{
 
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  width: 300px;
  margin: 0 auto;
}

.cuadro{
  width:100px;
  height: 100px;
  border: 1px solid rgb(168, 168, 168);
  text-align: center;
  color:rgb(7, 255, 69);
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: background-color ease-in 0.2s;
  cursor: pointer;
}

.cuadro:hover{
 
  background-color:#cccc;
  
}


.juego-boton {
  color: white;
  width: 100%;
  height: 56px;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;  
  background-color: #a10d46;
  border-radius: 11px;
  box-shadow: 3px 3px  #4e0622;
  border: #4e0622 solid;
  cursor: pointer;
}

.juego-boton:active{
  height: 50px;
  margin-top: 10px;
  background-color: white;
    box-shadow: 3px 3px rgb(206, 205, 205);
    color: #a10d46;
  cursor: none;
}
.juego-boton:hover{
  background-color: white;
  color: #a10d46;
  box-shadow: 3px 3px rgb(206, 205, 205);
  border: rgb(206, 205, 205) solid;
}

.container-buttons{

  display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 1rem 0 0.5rem 0;
    gap: 10px;
}

.shadow-button-red{
    
    height: 37px;
    border-radius: 11px;
    box-shadow: 5px 27px 13px;
}


.modal {
  height: 58vh;
  width: 60%;
  position: relative;
  background-color: white;
  border-radius: 17px;
  cursor: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal h1{
  text-align: center;
}

.modal-container {
  width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.71);
    top: 0px;
    align-items: center;
    cursor: none;
    z-index: 9;
}

.iconos-container {
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.iconos{
  font-size: 50px;
}

.button-iconos{
  background: transparent;
    border: none;
}

.icono1:focus {
  color: orange;
  transition-duration: 2s;
    transform: rotate(1turn);
}
.icono2:focus {
  color: orange;
}



.cronometro p {
  font-size: var(--large);
    font-weight: 700;
    margin-top: 0;
}


#hms, #hms2{
  font-size: var(--large);
  margin-bottom: 2rem;
}



/*Animaciòn info jugador*/

.lineUp {
  animation: 2s anim-lineUp ease-out;
}












